.git
.gitignore

docker-compose.yml
docker-compose.test.yaml
docker-compose.provision.yaml
.docker

*.py[cod]
__pycache__/
*$py.class

.cache
.pytest_cache
.tox
.coverage
.DS_Store
.python-version
.sonar
/sdist/
/dist/
/build/

coverage.xml
/reports/
/htmlcov/

.idea
.vscode
.env
settings.local.yaml

.ipynb_checkpoints/
.mypy_cache/

*.mo
*.pot

.teamcity
Makefile
infra/kube
